.auth__tabs {
  padding-top: 2rem;
}

.ant-tabs-tab-active {
  color: var(--taskList-Desaturated-blue);
}
.ant-tabs-tab {
  color: #fff;
}

.ant-tabs-ink-bar {
  border-bottom: 2px solid var(--taskList-Desaturated-blue);
}

.login__style {
  background-color: var(--Light-Grayish-Blue-Background);
  padding: 1.5rem 1.5rem 0 1.5rem;
  box-shadow: 0px 0px 5px 2px var(--Grayish-Blue);
  border-radius: 1rem;
}

.auth__user_icon {
  height: 3rem;
  display: flex;
  justify-content: center;

  font-size: 3rem;
  color: var(--White-User-icon_color);
}

.user__info__label {
  text-align: center;
  font-size: 1.25rem;
  color: var(--Light-Grayish-Blue-Background);
  padding: 1rem 0;
}
